 #  Pizza Price Data

### Preparing the data

#### Installing the essentials

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Reading the csv file

In [4]:
df = pd.read_csv("pizza_data.csv")
df.head()

          Company          Pizza Name           Type          Size  Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

#### Checking for NaN's in the df

In [5]:
df.isna().sum()

Company       0
Pizza Name    0
Type          0
Size          0
Price         0
dtype: int64

#### Create a quantity column

In [6]:
df["Quantity Ordered"] = 1
df.head()

,Company,Pizza Name,Type,Size,Price,Quantity Ordered
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",$5.99,1
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",$7.99,1
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",$9.99,1
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",$7.99,1
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",$5.99,1

## Question #1 Which company has more pizzas on the menu?

In [7]:
dominos  = df.groupby("Company").sum()
dominos

                   Quantity Ordered
Company
Domino's Pizza                   88
Godfather's Pizza               133
IMO's Pizza                      24
Pizza Hut                       126

## Question #2 What is the most expensive pizza in each company?

#### Pizza Hut

In [90]:
pizza_hut = df[df.Company == "Pizza Hut"]
pizza_hut.max()

Company                                         Pizza Hut
Pizza Name          Veggie Lover'sÂ® Pizza (Thin N Crispy)
Type                                        Skinny Pizzas
Size                                                Small
Price                                               $9.99
Quantity Ordered                                        1
dtype: object

#### Dominos

In [92]:
dominos = df[df.Company == "Domino's Pizza"]
dominos.max()

Company                                                Domino's Pizza
Pizza Name          Wisconsin 6 Cheese (Hand Tossed, Thin Crust or...
Type                                                 Specialty Pizzas
Size                                                    X-Large (16")
Price                                                           $9.99
Quantity Ordered                                                    1
dtype: object

#### Godfather's Pizza

In [93]:
godfather = df[df.Company == "Godfather's Pizza"]
godfather.max()

Company                                             Godfather's Pizza
Pizza Name          Veggie Pie Pizza (Original, Golden or Thin Crust)
Type                                                 Specialty Pizzas
Size                                                            Small
Price                                                           $9.99
Quantity Ordered                                                    1
dtype: object

#### IMO's Pizza

In [94]:
imo = df[df.Company == "IMO's Pizza"]
imo.max()

Company                  IMO's Pizza
Pizza Name              Veggie Pizza
Type                Specialty Pizzas
Size                   X Large (16")
Price                          $9.30
Quantity Ordered                   1
dtype: object